/* Yammy 0.9 Stylesheet
 * http://yammy.sf.net
 * Email: pravinp(at)gmail[dot]com
 */
body {
	font-family:trebuchet ms, sans serif;
	font-size:10pt;
	text-align:center;
	line-height:150%;
	margin:0;padding:0;
	background-color:#CCC;
	background-image:url('images/bg.gif');
}

td {
	font-size:10pt;
}

.wrapper {
	background-color:#a33;
	margin:0 auto;
	width:708px;
}

.container {
	margin:0 auto;
	width:700px;
	text-align:left;
	border:0px;
	border-left:2px solid #b44;
	border-right:2px solid #b44;
	background-color:#fff;
}

.header {
	border:0;
	border-bottom:5px #333 solid;
	background-color:#222;
	color:#ccc;
	padding:10px;
}

.header h1 {
	font-weight:normal;
	font-size:16pt;
	padding:0;margin:0;
}

.header a {
	color:#9cf;
	text-decoration:none;
}

.header a:hover {
	text-decoration:underline;
}

.nav-bar {
	background-color:#335;
	color:#ccc;
	text-align:left;
	border:0;
	border-bottom:4px #557 solid;
}

.nav-bar ul, .nav-bar li {
	list-style:none;
	display:inline;
	padding:0;
	margin:0;
}

.nav-bar li {
	padding:5px;
}

.nav-bar a {
	color:#ccc;
	text-decoration:none;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
}
.nav-bar a:hover {
	background-color:#668;
	color:#eee;
}

.content {
	padding:20px;
	float:left;
	width:660px;
	_width:692px;
}

.content h1 {
	font-size:14pt;
	color:#390;
}

.content h2 {
	font-size:12pt;
	color:#930;
}

.content dt {
	color:#306;
	font-weight:bold;
}

.search-box {
	float:right;
}

.search-box input {
	background-color:#444;
	color:#ccc;
	border:1px solid #666;
}

.search-box input:focus {
	border:1px solid #999;
	background-color:#555;
}

.cascade {
	padding:0;
	float:left;
	/*clear:both;*/
	width:325px;
	height:120px;
}

.cascade:hover {
	background-color:#333;
}

.cascade img {
	padding:5px;
	background-color:#eee;
	border:1px solid #999;
}

.cascade a {
	text-decoration:none;
}

.cascade .avatar {
	float:left;
}

.cascade .desc {
	float:left;
	padding:0;
	padding-left:20px;
	font-size:8pt;
	font-style:italic;
	color:#666;
}

.cascade h2 {
	font-size:12pt;
	font-weight:normal;
	padding:0;margin:0;
	font-style:normal;
}

.view {
	
}

.view b {
	color:#c60;
}

.footer {
	clear:both;
	border:0;
	border-top:5px #333 solid;
	border-bottom:2px solid #b44;
	background-color:#222;
	color:#ccc;
	padding:10px;
	font-size:8pt;
	text-align:center;
}

.footer a {
	color:#9cf;
	text-decoration:none;
}

.footer a:hover {
	text-decoration:underline;
}

.page-nav {
	text-align:center;
}
.page-nav a {
	text-transform:uppercase;
	color:#fff;
	padding:5px;
	background-color:#446;
	border:2px solid #224;
	text-decoration:none;
}

.page-nav a:hover {
	background-color:#668;
}

.red-button a {
	text-transform:uppercase;
	color:#fff;
	padding:5px;
	background-color:#f33;
	border:2px solid #c00;
	text-decoration:none;
}

.red-button a:hover {
	background-color:#f00;
}

.disabled-button {
	text-transform:uppercase;
	color:#ccc;
	padding:5px;
	background-color:#999;
	border:2px solid #777;
	text-decoration:none;
}

.convo-started {
	padding-top:10px;
	padding-bottom:10px;
	color:#090;
}
.date {
	font-size:8pt;
	color:#300;
}
.local {
	font-weight:bold;
	font-size:8pt;
	color:#888;
	font-family:Tahoma;
}
.remote {
	font-weight:bold;
	font-size:8pt;
	color:#339;
	font-family:Tahoma;
}
.msg {
	font-size:10pt;
	font-family:Arial;
}
.buzz {
	color:#800;
	font-weight:bold;
}

.todo {
	color:#930;
	font-style:italics;
	background-color:#ff9;
	padding:2px;
	border:1px solid #cc3;
}

.tooltip {
	background-color:#ffc;
	padding:20px;
	border:0;
	border-top:2px solid #ee6;
	border-bottom:2px solid #ee6;
}

.crumb {
	background-color:#ffc;
	padding:4px;
	border:0;
	border-top:1px solid #ee6;
	border-bottom:1px solid #ee6;
}